In [1]:
import pandas as pd

In [2]:
# Load dataset
file_path = 'Resale flat prices based on registration date from Jan-2017 onwards.csv'
df = pd.read_csv(file_path)

In [5]:
# Filter for months 2025-04 to 2025-06 and create a copy
target_months = ['2025-04', '2025-05', '2025-06']
filtered_df = df[df['month'].isin(target_months)].copy()

In [7]:
# Create floor_area_sqm bins
bins = [0, 20, 40, 60, 80, 100, 120, 140, 160, 1000]
labels = ['0-20', '21-40', '41-60', '61-80', '81-100', '101-120', '121-140', '141-160', '161+']
filtered_df['floor_area_range'] = pd.cut(filtered_df['floor_area_sqm'], bins=bins, labels=labels)

In [9]:
# Group and compute average resale price
grouped_df = filtered_df.groupby(
    ['month', 'town', 'flat_type', 'storey_range', 'floor_area_range', 'flat_model'],
    observed=True
)['resale_price'].mean().reset_index()

In [10]:
# Round resale_price for better readability
grouped_df['resale_price'] = grouped_df['resale_price'].round(2)

In [11]:
# Drop rows where resale_price is NaN (if any)
grouped_df = grouped_df.dropna(subset=['resale_price'])

In [12]:
# Output result
print(grouped_df)

# Optional: Save to CSV
grouped_df.to_csv('hdb_resale_summary_2025_04_to_06.csv', index=False)

        month        town flat_type storey_range floor_area_range  \
0     2025-04  ANG MO KIO    3 ROOM     01 TO 03            41-60
1     2025-04  ANG MO KIO    3 ROOM     01 TO 03            61-80
2     2025-04  ANG MO KIO    3 ROOM     01 TO 03            61-80
3     2025-04  ANG MO KIO    3 ROOM     01 TO 03           81-100
4     2025-04  ANG MO KIO    3 ROOM     04 TO 06            61-80
...       ...         ...       ...          ...              ...
2251  2025-06      YISHUN    4 ROOM     04 TO 06           81-100
2252  2025-06      YISHUN    4 ROOM     07 TO 09           81-100
2253  2025-06      YISHUN    4 ROOM     10 TO 12           81-100
2254  2025-06      YISHUN    4 ROOM     10 TO 12           81-100
2255  2025-06      YISHUN    5 ROOM     10 TO 12          121-140

          flat_model  resale_price
0           Improved     408000.00
1            Model A     650000.00
2     New Generation     424796.00
3     New Generation     535000.00
4     New Generation     429164.67
...              ...           ...
2251      Simplified     493944.00
2252         Model A     626000.00
2253         Model A     575000.00
2254      Simplified     530000.00
2255        Improved     850000.00

[2256 rows x 7 columns]