In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

file_path = '/content/drive/My Drive/Resale_Flat_Prices.csv'
raw_data = pd.read_csv(file_path)

<ipython-input-2-a8dbd433236b>:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv(file_path)

In [ ]:
# Drop rows where 'remaining_lease' has NaN values
cleaned_data = raw_data.dropna(subset=['remaining_lease'])

print(cleaned_data.head())
print(f"Number of rows: {cleaned_data.shape[0]}")

          month        town flat_type block        street_name storey_range  \
656847  2015-01  ANG MO KIO    3 ROOM   174   ANG MO KIO AVE 4     07 TO 09
656848  2015-01  ANG MO KIO    3 ROOM   541  ANG MO KIO AVE 10     01 TO 03
656849  2015-01  ANG MO KIO    3 ROOM   163   ANG MO KIO AVE 4     01 TO 03
656850  2015-01  ANG MO KIO    3 ROOM   446  ANG MO KIO AVE 10     01 TO 03
656851  2015-01  ANG MO KIO    3 ROOM   557  ANG MO KIO AVE 10     07 TO 09

        floor_area_sqm      flat_model  lease_commence_date  resale_price  \
656847            60.0        IMPROVED                 1986      255000.0
656848            68.0  NEW GENERATION                 1981      275000.0
656849            69.0  NEW GENERATION                 1980      285000.0
656850            68.0  NEW GENERATION                 1979      290000.0
656851            68.0  NEW GENERATION                 1980      290000.0

       remaining_lease
656847            70.0
656848            65.0
656849            64.0
656850            63.0
656851            64.0
Number of rows: 235321

In [ ]:
def convert_to_months(value):
    if pd.isna(value):
        return None  # Handle NaN values
    if isinstance(value, str):
        if "YEARS" in value:
            parts = value.split("YEARS")
            years = int(parts[0].strip())
            months = int(parts[1].replace("MONTHS", "").strip()) if "MONTHS" in parts[1] else 0
            return years * 12 + months
        else:
            return None  # Unexpected format
    elif isinstance(value, (int, float)):
        return int(value) * 12
    else:
        return None

cleaned_data['remaining_lease'] = cleaned_data['remaining_lease'].apply(convert_to_months)
print(cleaned_data.head())

          month        town flat_type block        street_name storey_range  \
656847  2015-01  ANG MO KIO    3 ROOM   174   ANG MO KIO AVE 4     07 TO 09
656848  2015-01  ANG MO KIO    3 ROOM   541  ANG MO KIO AVE 10     01 TO 03
656849  2015-01  ANG MO KIO    3 ROOM   163   ANG MO KIO AVE 4     01 TO 03
656850  2015-01  ANG MO KIO    3 ROOM   446  ANG MO KIO AVE 10     01 TO 03
656851  2015-01  ANG MO KIO    3 ROOM   557  ANG MO KIO AVE 10     07 TO 09

        floor_area_sqm      flat_model  lease_commence_date  resale_price  \
656847            60.0        IMPROVED                 1986      255000.0
656848            68.0  NEW GENERATION                 1981      275000.0
656849            69.0  NEW GENERATION                 1980      285000.0
656850            68.0  NEW GENERATION                 1979      290000.0
656851            68.0  NEW GENERATION                 1980      290000.0

        remaining_lease
656847              840
656848              780
656849              768
656850              756
656851              768

<ipython-input-4-1069846139aa>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['remaining_lease'] = cleaned_data['remaining_lease'].apply(convert_to_months)

In [ ]:
cleaned_data.to_csv("modified_flat_model.csv", index=False)